@use "../abstracts" as *;

.buttons {
    @include display-center();

    &__button{
        margin: 0 2em;
        padding: 0.5em 1em;
        border: none;
        border-radius: 0.5em;
        background-color: $primary-color;
        color: $base-color-dark;
        @include button();

        &--purple{
            margin: 1em 2em 0;
            padding: 0.5em 1em;
            border: none;
            border-radius: 0.5em;
            background-color: $secondary-color;
            color: $base-color-dark;
            @include button();
        }
    }
}
