@use "../abstracts" as *;

.itens-wrapper {
  padding: 5rem 0;
  width: 100%;
  overflow-x: hidden;
  
  .itens {
    display: flex;
    justify-content: center;
    
    .item {
      width: 40%;
      margin: 0;

      img { 
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include mediaQuery(768px){
  .itens-wrapper {
    width: 79rem;
    padding: 10rem 0;
  }
}

@include mediaQuery(500px){
  .itens-wrapper {
    width: 80rem;
    padding: 10rem 0;
  }
}