@use "../abstracts" as *;
.details {
    color: $base-color-light;
    display: flex;
    padding: 5rem;

    &__info {
        padding: 5em;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: $primary-color;
        font-size: 2em;
    }

    &__paragraph {
        font-size: 1.1em;
    }

    &__genres {
        display: flex;
        width: 100%;

        .details__genre {
            background-color: $secondary-color;
            border-radius: 2em;
            padding: 1em;
            margin-right: 1em;
        }
        
    }
}