@use "../abstracts" as *;

.search-bar {
    @include display-center();
    
    height: 2rem;

    &__input {
        width: 20rem;
        border-radius: 0.5rem 0 0 0.5rem;
        border: none;
        padding: 1.62rem 1.5rem;
        background: $base-color-neutral;

        &::placeholder {
            color: $base-color-dark;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            font-weight: 400;
        }

        &:focus {
            outline: none;
        }
    }

    &__button {
        width: 3rem;
        height: 3.3rem;
        border: none;
        border-radius: 0 0.5rem 0.5rem 0;
        background: $base-color-neutral;
        cursor: pointer;

        &:hover {
            background: darken($color: $base-color-neutral, $amount: 10%);
        }
    }
}

@include mediaQuery(550px){
    .search-bar {
        padding-bottom: 1.5em;
        height: 3rem;

        .search-bar__button {
            padding-top: 1.5em;
        }
        
    }
 }