@use "../abstracts" as *;

.custom-select{
  position: relative;

  &__select {
    width: 17rem;
  }
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: $secondary-color;
  height: 100%;
  width: 3rem;
  pointer-events: none;
  cursor: pointer;

  &::before,
  &::after {
      --size: 0.5em;

      content: '';
      position: absolute;
      width: 0;
      height: 0;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
  }

  &::before {
      border-left: var(--size) solid transparent;
      border-right: var(--size) solid transparent;
      border-bottom: var(--size) solid $primary-color;
      top: 35%;
  }

  &::after {
      border-left: var(--size) solid transparent;
      border-right: var(--size) solid transparent;
      border-top: var(--size) solid $primary-color;
      top: 65%;
  }
}

@include mediaQuery(768px){
  .custom-select{
    &__select {
      width: 10rem;
    }
  }
}

@include mediaQuery(550px){
  .custom-select{
    &__select {
      width: 20rem;
    }
  }
}