@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.tvShow-list {
    margin: 9.75rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2.5rem;
    padding: 0 2.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.buttons button{
    margin: 0 2em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    background-color: #D1FF00;
    color: #1b1b1b;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
}