.main-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 6rem;
}

.main-top h1 {
    color: #F1F1F1;
    font-size: 1.875rem;
    font-weight: 400;
}

