@use "../abstracts" as *;
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

main {
    overflow-x: hidden;
 }

.home__container {
    display: grid;

    .container__elements {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 2.5rem;
        padding: 4rem;
        width: 100%;
    }
}

.search-results__query {
     background-color: $primary-color;
 }

 .home__title{
        color: $base-color-light;
        font-size: 2.5rem;
        position: relative;

        h3 {
            font-weight: 700;
            padding: 4rem 2rem 1rem 2rem;
            margin: 0;
            text-align: center        
        }
 }

 @include mediaQuery(768px){
    .home__title{
        h3 {
            font-size: 2rem;
            padding: 8rem 0 0;
        }
    }
 }