.movie-card {
    width: 16.4375rem;
    height: 22.6875rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background: #9E4FFF;
    margin: 0;
    position: relative;
}

.movie-info {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.movie-title-year{
    display: flex;
    flex-direction: column;
}

.movie-title {
    color: #1B1B1B;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 0.5rem;
}

.movie-star {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    clip-path: polygon(50% 0%,63.00% 33.00%,98% 35%,70.00% 58.00%,79% 91%,50.00% 72.00%,21% 91%,29.00% 58.00%,2% 35%,37.00% 33.00%);
    background: #D1FF00;
    width: 4rem;
    height: 4rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-star-rating {
    color: #1B1B1B;
    font-size: 1rem;
    margin: 0;
    padding: auto auto;
   
} 